(function() {
    'use strict';
    var module = angular.module('marketApp');


module.controller('MainController', [
    '$q', 
    '$scope',
    '$compile',
    '$window',
    '$uibModal',
    '$log',
    '$http',
    'nemSimpleLogger',
    'leafletData',
    'coordinates', 
    'myCoordinates', 
    'markers', 
    'boutiques',
    'myBoutiques',
    'myCommercenear',
    'SearchCommerce',
    'GetAllCommerce',
    '$route',
    '$routeParams',
    'Auth',
    'ngCart',
    'GetUserCommerces',
    'GetUserAddresses',
    'GetAllUser',
    function($q, $scope, $compile, $window,  $uibModal, $log, $http, nemSimpleLogger, leafletData, coordinates, myCoordinates, markers, boutiques, myBoutiques, myCommercenear, SearchCommerce, GetAllCommerce, $route, $routeParams, Auth, ngCart, GetUserCommerces, GetUserAddresses, GetAllUser, UpdateOrderDetails) {

        ngCart.setTaxRate(7.5);
        ngCart.setShipping(2.99);
        var deferred = $q.defer();
    
        //map = L.mapquest.map('map', {
        //    center: [47.4550213, -0.5370654],
        //    layers: [tileLayer],
        //    zoom: 12
        //});

        coordinates.getCoordinates().then(function (resultcoord) {
            var map = null;
            var mapquest_key = 'qH6FPb3ABRz7fD8LSYwfTGGhw4QASLSn';
    
            //nemSimpleLogger.doLog = true; //default is true 
            //nemSimpleLogger.currentLevel = nemSimpleLogger.LEVELS.debug;//defaults to error only 
    
            L.mapquest.key = mapquest_key; //Cle API mapquest
            L.mapquest.open = true; // Permet d'utiliser les fonctionnalités de openstreet
            // The ID of a map style. The supported style IDs are 'map', 'hybrid', 'satellite', 'light', 'dark'.
            var tileLayer = L.mapquest.tileLayer('map');
            map = L.mapquest.map('map', {
                center: [resultcoord.lat, resultcoord.lng],
                layers: [tileLayer],
                zoom: 12
            });

            // Controle de la map (localisation, zoom etc...)
            map.addControl(L.mapquest.control());
            
            // Affichage des commerces à proximité si l'utilisateur s'est authentifié
            if (Auth.isAuthenticated() )
            {
                Auth.currentUser().then(function(user) {
                    //--------------------------------------------------*
                    //          S E L L E R   B L O C                   *
                    //--------------------------------------------------*
                    // Si l'utilisateur a un role de vendeur on vérifie si il possède des commerces
                    if (user.seller_role == true){
                        //console.log("seller : ", user)
                        //vérification de la présence de commerces en base pour l'utilisateur connecté
                        GetUserCommerces.get({userId: user.id}).then(function(result){
                            // Si le vendeur sedentaire ne possède pas de commerce
                            var nb_commerce = result.length
                            if (nb_commerce == 0){
                                if (user.statut_type == "sedentary"){
                                    //Transmission des coordonnées géo de l'utilisateur pour affichage liste de commerces à proximité
                                    //La liste des commerces à proximité est issue d'une extraction des données Mapquest
                                    //boutiques.getBoutiques([resultcoord.lat, resultcoord.lng]).then(function (boutique) {
                                        $uibModal.open({
                                            templateUrl: "<%= asset_path('Templates/myModalMarker.html') %>", // loads the template
                                            controller: 'modalMarker',
                                            backdrop: true,
                                            size: 'md',
                                            windowClass: 'modal',
                                            resolve: {
                                                usercoord: function () {
                                                    return resultcoord; 
                                                },
                                                user: function () {
                                                    return user; 
                                                }
                                            }
                                        })
                                    //})
                                }
                            } else {
                                // récuperation la liste des clients
                                GetAllUser.query().then(function (userdata) {
                                    angular.forEach(userdata, function(user, key) {
                                        // Si le client est un acheteur on récupère ses coordonnées
                                        //console.log("user info : ", user)
                                        var userid = user.id
                                        if (user.buyerRole == true) {
                                            // recuperation adresses clients affichage sur la map
                                            GetUserAddresses.get({userId: userid}).then(function (addresses) {
                                                angular.forEach(addresses, function (address) {
                                                    var latitude = address.latitude;
                                                    var longitude = address.longitude;
                                                    //console.log("adresse buyer : ", address)

                                                    // Customisation des Icons utiliser pour la map
                                                    //customIcon = L.mapquest.icons.marker({
                                                    //    primaryColor: '#22407F',
                                                    //    secondaryColor: '#3B5998',
                                                    //    shadow: true,
                                                    //    size: 'md'
                                            //      //    symbol: 'A'
                                                    //});

                                                    // Customisation de l'Icon pour les commerces déjà presents en base
                                                    customIcon = L.icon({
                                                        iconUrl: 'https://icon-library.net//images/location-marker-icon/location-marker-icon-15.jpg',
                                                        iconSize: [35, 35], // size of the icon
                                                        });
                                                    commentaire = "<div>Send message to the customer <br /><button class='btn' ng-click='btncustomer"+ address.id +"()'>Cliquez ici</button></div>";

                                                    // Compile title DOM into a link function
                                                    var linkFn = $compile(angular.element(commentaire));
                                                    
                                                    // Return a jQuery DOM tree fully controlled by AngularJS so that ng directives will work
                                                    var popup = linkFn($scope);
                                                    var customPopup = L.popup()
                                                        .setLatLng([latitude, longitude])
                                                        .setContent(popup[0])
                                                        .openOn(map);

                                                    L.marker([latitude, longitude], {icon: customIcon}).bindPopup(customPopup).addTo(map);
                                                })

                                            }, function (error) {
                                                // do something about the error
                                                console.log("Error GetAllAddress : ",error.statusText);
                                                deferred.reject(error);
                                            });
                                        }
                                    })
                                }, function (error) {
                                    // do something about the error
                                    console.log("Error GetAllUser : ",error.statusText);
                                    deferred.reject(error);
                                });

                                // boucle sur l'ensemble des commerces de l'utilisateur et affichage sur la map
                                for(var i=0; i<nb_commerce; i++) {
                                    //console.log("commerces : ", result[i])

                                    var boutique_place = "";
                                    var customIcon = "";
                                    var commentaire = "";

                                    boutique_place = [result[i].latitude, result[i].longitude];
                                    //boutique_place.push(result[i].latitude, result[i].longitude);
                                    var btnproduct = 'btnproduct'+result[i].id;
                                    var commerce_id = result[i].id;

                                    $scope[btnproduct] = function () {
                                        $uibModal.open({
                                            templateUrl: "<%= asset_path('Templates/myModalProduct.html') %>", // loads the template
                                            controller: "modalProduct",
                                            backdrop: false, // setting backdrop allows us to close the modal window on clicking outside the modal window
                                            size: 'lg',
                                            resolve: {
                                                commerce: function () {
                                                    return commerce_id; // Appel au controlleur modalProduct avec en entrée le nom du commerce
                                                },
                                                user: function () {
                                                    return user; 
                                                }
                                            }
                                        });
                                    };
                                    
                                    // Customisation des Icons utiliser pour la map
                                    customIcon = L.mapquest.icons.marker({
                                        primaryColor: '#22407F',
                                        secondaryColor: '#3B5998',
                                        shadow: true,
                                        size: 'md'
                            //          symbol: 'A'
                                    });

                                    // Customisation de l'Icon pour les commerces déjà presents en base
                                    customIcon = L.icon({
                                        iconUrl: 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ2VarF6jyBEEqUI5d0ZK1NMm69I1rngTAM1KEQHvH_5CW73v-g',
                                        iconSize: [35, 35], // size of the icon
                                        });
                                    commentaire = "<div><b>D&eacuteja adh&eacuterent</b>.<br /> Pour ajouter vos produits <br /><button class='btn' ng-click='btnproduct"+ result[i].id +"()'>Cliquez ici</button></div>";

                                    // Compile title DOM into a link function
                                    var linkFn = $compile(angular.element(commentaire));
                                    
                                    // Return a jQuery DOM tree fully controlled by AngularJS so that ng directives will work
                                    var popup = linkFn($scope);

                                    //console.log("coordonnées :", boutique_place )
                                    if (boutique_place !== " ") {
                                    //if (boutique_place.length > 0) {
                                        var customPopup = L.popup()
                                            .setLatLng(boutique_place)
                                            .setContent(popup[0])
                                            .openOn(map);
                                        //map.removeLayer(result);
                                        L.marker(boutique_place, {icon: customIcon}).bindPopup(customPopup).addTo(map);
                                    }
                                }
                            }

                            deferred.resolve($scope.commerces);
                        }, function (error) {
                            // do something about the error
                            console.log("Error Log",error.statusText);
                            deferred.reject(error);
                        });
                        var p = deferred.promise;

                    } else {
                    //--------------------------------------------------*
                    //            B U Y E R   B L O C                   *
                    //--------------------------------------------------*
                        // L'utilisateur a un rôle d'acheteur
                        // Vérification de la présence de commerce en fonction des coordonnées
                        myCommercenear.Getcommercenear(resultcoord.lat, resultcoord.lng).then(function (commerces) {
                            var result = angular.equals(commerces);

                            if (result == false) {
                                console.log("pas de boutiques enregistrées à proximité de chez vous")
                                $window.alert("Pas de boutiques enregistrées à proximité de chez vous");
                            } else {
                        //Récupération de la liste des commerces en base
                        //GetAllCommerce.query().then(function (boutiques) {
                            //console.log("boutiques : ", boutiques)
                                angular.forEach(commerces, function(boutique, key) {
                                    //console.log("boutique : ", boutique)
                                    var commentaire = "";
                                    var boutique_place = " ";
                                    var customIcon = "";
                                    var btnorder = 'btnorder'+boutique.id;

                                    $scope[btnorder] = function () {
                                        $uibModal.open({
                                            templateUrl: "<%= asset_path('Templates/myModalOrder.html') %>", // loads the template
                                            controller: "modalOrder",
                                            backdrop: true, // setting backdrop allows us to close the modal window on clicking outside the modal window
                                            size: 'lg',
                                            resolve: {
                                                boutique: function () {
                                                    return boutique; // Appel au controlleur modalOrder avec en entrée le nom du commerce
                                                },
                                                user: function () {
                                                    return user; 
                                                }
                                            }
                                        });

                                    };

                                    // Si le user est un acheteur
                                    boutique_place = [boutique.latitude, boutique.longitude];

                                    // Customisation de l'Icon pour les commerces déjà presents en base
                                    customIcon = L.icon({
                                        iconUrl: 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ2VarF6jyBEEqUI5d0ZK1NMm69I1rngTAM1KEQHvH_5CW73v-g',
                                        iconSize: [35, 35], // size of the icon
                                    });

                                    commentaire = "<div>Commerce adh&eacuterent.<br /> Pour Commandez vos produits <br /><button class='btn' ng-click='btnorder"+ boutique.id +"()'>Cliquez ici</button></div>";
                                    // Compile title DOM into a link function
                                    var linkFn = $compile(angular.element(commentaire));
                                            
                                    // Return a jQuery DOM tree fully controlled by AngularJS so that ng directives will work
                                    var popup = linkFn($scope);

                                    //console.log("coordonnées :", boutique_place )
                                    if (boutique_place !== " ") {
                                        var customPopup = L.popup()
                                            .setLatLng(boutique_place)
                                            .setContent(popup[0])
                                            .openOn(map);
                                        //map.removeLayer(result);
                                        L.marker(boutique_place, {icon: customIcon}).bindPopup(customPopup).addTo(map);
                                    }
                                });
                        //});
                            }
                        })


                    }
                }, function(error) {
                    // unauthenticated error
                });
            }
        });

    }]);

})();