<!--Entête-->
<div class="col-md-1 general_menu startpage">
  <ul>
    <li ng-show="isAuthenticated"><a href="#" ng-click="logout()" class="gradientmenu active"><i class="fa fa-user-times"></i></a></li>
    <li ng-hide="isAuthenticated"><a href="#" ng-click="OpenRegistration()" class="gradientmenu active"><i class="fa fa-user"></i></a></li>
    <li><a href="/" ng-click="MapOpen = !MapOpen" class="gradientmenu"><i class="fa fa-home"></i></a></li>
    <li ng-show="isBuyer"><a href="/" ng-click="SeeSearch = !SeeSearch" class="gradientmenu"><i class="fa fa-sliders"></i></a></li>
  </ul>
</div>
<!--/Entête--> 

<!--Content-->
<div class="col-md-11 general_content_styles" id="contvisu" ng-show="MapOpen">
  <!--Header-->
    <div class="row">
        <div class="col-md-12 header">
            <div class="logo">
                <a href="/">
                    Tchopmygrinds</a>
            </div>
        </div>
    </div>
    <!--/Header-->
         <!--Map open (for adaptive)-->
    <div class="row map_open">
        <div class="col-md-12">
            <a href="/" id="map_open">Open map</a>
        </div>
    </div>
      <!--/Map open (for adaptive)-->
    <!--search-->
    <div class="row">
        <div class="col-md-12">
            <div class="row search_block">
                <div class="text_in_search">With this form you can find the best products near your home</div>
                <div class="search">
                    <input type="email" class="form-control  input-sm" id="exampleInputEmail2" placeholder="Enter email" ng-model="credentials.email"/>
                </div>
                <a ng-click="signup()" class="btn btn-warning col-md-2 btn-sm">Sign Up</a>
            </div>
        </div>
    </div>
    <!--/search-->
    <!--Features-->
    <div class="row features">
        <div class="col-md-6">
            <h4><i class="fa fa-map-marker" aria-hidden="true"></i>Find out where your traders are</h4>
            Geolocate real-time fruit and vegetable sellers near you
        </div>
        <div class="col-md-6">
            <h4><i class="fa fa-handshake-o" aria-hidden="true"></i>Best way of Life</h4>
            No more running around to eat healthy. Save time and improve your quality of life.
        </div>
        <div class="col-md-6">
            <h4><i class="fa fa-user-o" aria-hidden="true"></i>Sharing and Favorites</h4>
            Opportunity to share with your entourage and put in your favorites the best offers of traders.
        </div>
        <div class="col-md-6">
            <h4><i class="fa fa-money" aria-hidden="true"></i>Find out where your friends</h4>
            Because trust is the foundation of all relationships, we will never use your personal data without your consent. In addition, you can interact with the Blockchain to secure your transactions and guarantee your payments and guarantee your payments
        </div>
    </div>
    <!--/Features-->
    <!--tooltip-->
    <div class="jumbotron promo_text_line">
        <div class="container">
            <h2>There are already over 500 followers on facebool</h2>
            <p><a class="btn btn-danger btn-sm">Learn more</a></p>
        </div>
    </div>
</div>

<!--Content-->
<div class="col-md-11 side-bar" id="cont" ng-if="!MapOpen" ng-show="SeeSearch">
  <!--Header-->
    <div class="row">
        <div class="col-md-12 header">
            <div class="logo">
                <a href="/">
                Tchopmygrinds</a>
            </div>
        </div>
    </div>
    <!--/Header-->
    <!--Map open (for adaptive)-->
    <div class="row map_open">
        <div class="col-md-12">
            <a href="/" id="map_open">Show map</a>
        </div>
    </div>
      <!--/Map open (for adaptive)-->
    <!--Category menu-->
    <div class="row">
        <div class="col-md-12">
            <div id="tabs">
                <div id="tab1" class="active tab">
                    <h5 class="cat">Places where you can eat</h5>
                    <ul class="catalog">
                        <li ng-repeat="record in records | searchFilter:searchParams"
                            ng-class="{ 'activepoint': $index == selectedIndex}"
                            ng-click="itemClicked($index)">
                            <a href="#"> {{record.fruit}} <span>{{record.quantite}}</span><p class="arrow"></p></a>
                        </li>
                   </ul>
                </div>
            </div>
        </div>
    </div>

    <!--Search-->
    <div class="search_inner_box">
        <nit-advanced-searchbox ng-model="searchParams"
                                parameters="availableSearchParams"
                                placeholder="Vous recherchez...">
        </nit-advanced-searchbox>
        <button class="btn btn-info" ng-click="showOutput = ! showOutput">Search</button>
        <div ng-show="showOutput">
            {{searchParams}}
        </div>
    </div>
    <br>
    <!--/search-->
</div>