<div class="modal-header">
  <h3 class="modal-title" id="modal-title">Section Produit</h3>
</div>
<form ng-submit="submit()" novalidate>
  <div class="modal-body" id="modal-body">
    <uib-tabset active="active">
      <uib-tab index="0" heading="Produit">
        <br/>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Produit</th>
                    <th scope="col">Prix</th>
                    <th scope="col">Quantite par unité</th>
                    <th scope="col">Stock</th>
                    <th scope="col">Obsolète</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="x in produits track by $index">
                    <td>{{ x.name }}</td>
                    <td>{{ x.unitprice | currency }}</td>
                    <td>{{ x.quantityperunit }}</td>
                    <td>{{ x.unitsinstock }}</td>
                    <td>{{ x.discontinued }}</td>
                    <td><a ng-click="remove($index)" class="btn btn-small btn-danger">Delete</a></td>
                </tr>
            </tbody>
        </table>
        <br/>
        <ng-form name="nestedForm" ng-show="visible">
            <div class="form-inline">
                <div class="form-group">
                    <label class="control-label sr-only" id="InputName">Name</label>
                    <input type="text" class="form-control" placeholder="nom produit" required ng-model="fruit.name" name="produitname" uib-typeahead="option.produit for option in fruits | filter:$viewValue | limitTo:8">
                </div>
                <div class="form-group">
                    <label class="control-label sr-only" id="InputPrice">Prix</label>
                    <input type="number" class="form-control" placeholder="Prix" required ng-model="fruit.prix" name="produitprix" />
                </div>
                <div class="form-group">
                    <label class="control-label sr-only" id="InputQuantityPerUnit">Quantite</label>
                    <input type="text" class="form-control" placeholder="Quantite per Unit" required ng-model="fruit.quantite" name="produitquantite" />
                </div>
                <div class="form-group">
                    <label class="control-label sr-only" id="InputUnitInStock">Stock</label>
                    <input type="number" class="form-control" placeholder="Unit in Stock" required ng-model="fruit.stock" name="produitstock" />
                </div>
                <div class="form-group">
                    <label class="control-label sr-only" id="InputDiscontinued">discontinued</label>
                    <input type="checkbox" class="form-control" placeholder="Discontinued" required ng-model="fruit.discontinued" name="produitdiscontinued" />
                </div>
                <input type="button" ng-click="newProduit(fruit)" class="btn btn-primary mb-2" value="Save">
            </div>
        </ng-form>
        <br/>
        <div class="col-auto">
            <button type="button" class="btn" ng-click="visible = true"><i class="icon-plus"></i>Add</button>
        </div>
      </uib-tab>
    </uib-tabset>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-warning" ng-click="cancel()">Cancel</button>
    <button type="submit" class="btn primary-btn">Valider</button>
  </div>
</form>