<!--Entête-->
<div class="col-md-1 general_menu startpage">
  <ul>
    <li><a href="/" ng-click="SeeMap = !SeeMap" class="gradientmenu active"><i class="fa fa-home"></i></a></li>
    <li><a href="/" ng-click="SeeSearch = !SeeSearch" class="gradientmenu"><i class="fa fa-sliders"></i></a></li>
  </ul>
</div>
<!--/Entête--> 

<!--Content-->
<div class="col-md-11 general_content_styles" id="contvisu" ng-show="SeeMap">
  <!--Header-->
    <div class="row">
        <div class="col-md-12 header">
            <div class="logo">
                <a href="/">
                    macabo</a>
            </div>
        </div>
    </div>
    <!--/Header-->
         <!--Map open (for adaptive)-->
    <div class="row map_open">
        <div class="col-md-12">
            <a href="/" id="map_open">Open map</a>
        </div>
    </div>
      <!--/Map open (for adaptive)-->
    <!--search-->
    <div class="row">
        <div class="col-md-12">
            <div class="row search_block">
                <div class="text_in_search">With this form you can find where to spend time</div>
                <div class="search">
                    <input type="text" class="form-control  input-sm" id="exampleInputEmail2" placeholder="Enter email" />
                </div>
                <a href="/" class="btn btn-warning col-md-2 btn-sm">Search</a>
            </div>
        </div>
    </div>
    <!--/search-->
    <!--Features-->
    <div class="row features">
        <div class="col-md-6">
            <h4><i class="fa fa-universal-access" aria-hidden="true"></i>Find out where your friends</h4>
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make
        </div>
        <div class="col-md-6">
            <h4><i class="fa fa-handshake-o" aria-hidden="true"></i>Find out where your friends</h4>
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make
        </div>
        <div class="col-md-6">
            <h4><i class="fa fa-user-o" aria-hidden="true"></i>Find out where your friends</h4>
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make
        </div>
        <div class="col-md-6">
            <h4><i class="fa fa-money" aria-hidden="true"></i>Find out where your friends</h4>
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make
        </div>
    </div>
    <!--/Features-->
    <!--tooltip-->
    <div class="jumbotron promo_text_line">
        <div class="container">
            <h2>There are already over 1 000 000 users</h2>
            <p><a class="btn btn-danger btn-sm">Learn more</a></p>
        </div>
    </div>
</div>

<!--Content-->
<div class="col-md-11 side-bar" id="cont" ng-show="SeeSearch">
  <!--Header-->
    <div class="row">
        <div class="col-md-12 header">
            <div class="logo">
                <a href="/">
                    macabo</a>
            </div>
        </div>
    </div>
    <!--/Header-->
    <!--Map open (for adaptive)-->
    <div class="row map_open">
        <div class="col-md-12">
            <a href="/" id="map_open">Show map</a>
        </div>
    </div>
      <!--/Map open (for adaptive)-->
    <!--Category menu-->
    <div class="row">
        <div class="col-md-12">
            <div id="tabs">
                <div id="tab1" class="active tab">
                    <h5 class="cat">Places where you can eat</h5>
                    <ul class="catalog">
                        <li ng-repeat="record in records | searchFilter:searchParams"
                            ng-class="{ 'activepoint': $index == selectedIndex}"
                            ng-click="itemClicked($index)">
                            <a href="#"> {{record.fruit}} <span>{{record.quantite}}</span><p class="arrow"></p></a>
                        </li>
<!--
                        <li ng-repeat="x in coordinates | searchFilter:searchParams">
                           <a href="#"> {{ x }} <span>22</span></a>
                        </li>
                        <li><a href="#">Cafe<span>22</span></a></li>
                        <li><a href="#">Bar<span>22</span></a></li>
                        <li><a href="#">Restaurant<span>22</span></a></li>
                        <li><a href="#" class="activepoint">Fast food<span>22</span><p class="arrow"></p>
                        </a></li>
                        <li><a href="#">Canteens<span>22</span></a></li>
                        <li><a href="#">Pitstop<span>22</span></a></li>
                        <li><a href="#">Cafe<span>22</span></a></li>
                        <li><a href="#">Bar<span>22</span></a></li>
-->
                   </ul>
                </div>
            </div>
        </div>
    </div>
    <!--Search-->
    <div class="search_inner_box">
        <nit-advanced-searchbox ng-model="searchParams"
                                parameters="availableSearchParams"
                                placeholder="Vous recherchez...">
        </nit-advanced-searchbox>
        <button class="btn btn-info" ng-click="showOutput = ! showOutput">Search</button>
        <div ng-show="showOutput">
            {{searchParams}}
        </div>
    </div>
    <!--/search-->
</div>