<div class="modal-header">
    <h3 class="modal-title" id="modal-title">Ma boutique</h3>
    <button type="button" class="close" aria-label="Fermer" ng-click="$dismiss()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
<div class="modal-body" id="modal-body">
	Commerce Name: <input type="text" ng-model="CommerceName"><br>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-secondary" ng-click="cancel()">Annuler</button>
    <button type="submit" class="btn btn-primary" ng-click="submit(CommerceName)">Valider</button>
  </div>