    <h1>À Propos de nous</h1>
    <p>
      <a href="http://railstutorial.org/">Tchopmygrinds</a>
      est un projet qui vise à mettre en relation les vendeurs de fruits légumes et leurs futurs clients
      avec <a href="http://rubyonrails.org/">Tchopmygrinds</a>. Ceci
      est l'Application Exemple du tutoriel.
    </p>
