<ngcart-cart></ngcart-cart>

<ngcart-checkout service="paypal" 
settings="
{paypal: {business: 'francomegan-facilitator@gmail.com',
 item_name: 'itemName'}
 }"
 >Check Out</ngcart-checkout><br>

<a href="#/products" class="browse-link">Keep Browsing</a><ngcart-cart></ngcart-cart>

<ngcart-checkout service="paypal" 
settings="
{paypal: {business: 'francomegan-facilitator@gmail.com',
 item_name: 'itemName'}
 }"
 >Check Out</ngcart-checkout><br>

<a href="#/products" class="browse-link">Keep Browsing</a>