<div class="content">
	<h1 class="page-title">User - <span class="fw-semi-bold"></span>Profile</h1>
	<div class="row profile">
		<div class="col-md-6">
			<section class="widget">
				<div class="widget-body">
					<div class="widget-top-overflow text-white">
						<div class="height-250 overflow-hidden">	
							<img class="img-responsive" <%= image_tag "logo.png" %>>
						</div>
						<div class="btn-toolbar">
							<a href="" class="btn btn-outline btn-sm pull-right">
								<i class="fa fa-twitter mr-xs"></i> Follow
							</a>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-5 text-center">
							<div class="post-user post-user-profile">
								<span class="thumb-xlg">
									<%= image_tag "logo.png", class: "img-circle" %>
								</span>
								<h4 class="fw-normal">Andre <span class="fw-semi-bold">Pinfada</span></h4>
								<p>Itinerant commerce</p>
								<a href="" class="btn btn-danger btn-sm mt"> Send 
									<i class="fa fa-envelope ml-xs"></i>
								</a>
								<ul class="contacts">
									<li></li>
									<li></li>
									<li></li>
								</ul>
							</div>
						</div>
						<div class="col-sm-7"></div>
					</div>
				</div>
			</section>
		</div>
	</div>
</div>