<div class="modal-header">
	<h3 class="modal-title" id="modal-title">BOUTIQUES</h3>
	<hr>
	<div class="input-group mb-0">
	  <div class="input-group-prepend">
	    <label class="input-group-text" for="inputGroupSelect01">Select number of shops to display</label>
	  </div>
	  <select ng-model="selectedItem" ng-options="item for item in commerceaffiche" ng-change="affichage(selectedItem)"></select>
	</div>
</div>
<div class="modal-body" id="modal-body">
	<p>Elément sélectionné : {{selectedItem}}</p>
	<label for="boutiqueSelect"> Select your store on the list below</label><br>
	<select name="boutiqueSelect" id="multipleSelect" ng-model="data.boutiqueSelect" multiple="">
	  <option value="">---Please select---</option> <!-- not selected / blank option -->
	  <option ng-repeat="x in boutiques" value="{{x}}">{{x.name}}</option>
	</select><br>
</div>
<div class="modal-footer">
	<button type="button" class="btn btn-warning" ng-click="cancel()">Cancel</button>
	<button type="submit" class="btn primary-btn" ng-click="submit(data)">Submit</button>
</div>