<header>
  <div class="row site">
    <div class="col-md-1 general_menu startpage">
      <ul>
        <li><a href="/" ng-click="SeeMap = !SeeMap" class="gradientmenu active"><i class="fa fa-home"></i></a></li>
        <li><a href="/search" ng-click="SeeSearch = !SeeSearch" class="gradientmenu"><i class="fa fa-sliders"></i></a></li>
        <!--
        <li><a href="/" ng-click="SeeMap = !SeeMap" class="gradientmenu active"><i class="fa fa-home"></i></a></li>
        <li><%= link_to " ", root_path, :class => "fa fa-home", aria: {hidden: true}%></li> 
        <li><%= link_to " ", propos_path, :class => "fa fa-sliders", aria: {hidden: true} %></li>
        <li><%= link_to " ", aide_path, :class => "fa fa-info", aria: {hidden: true} %></li>
        <li><%= link_to " ", contact_path, :class => "fa fa-envelope-o", aria: {hidden: true} %></li>
        -->
      </ul>
    </div>
  </div>
</header>